* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #212121;
    font-size: 16px;
    color: #999393;
}


p {
    text-align: center;
    margin: 4em auto;
}

.play {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.play button {
    background-color: #211212;
    color: #999393;
    padding: .4em 1.2em;
    border-radius: .3em;
}